@import "~@project/libs/assets/styles/variables";
@import "~@project/libs/assets/styles/mixins";

.pitchdeck_container {
  width: 100%;
  @include container();
  margin: 60px auto;
  .image {
      width: 100%!important;
  }
  
}

