@import "~@project/libs/assets/styles/variables";
@import "~@project/libs/assets/styles/mixins";

.startup_container {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url("~@project/libs/assets/images/startupBackgroundImage.png");
  background-repeat: no-repeat;
  background-size: cover;

  align-items: center;

  .startup_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    @include container();

    .startup_title {
      color: $white;
      @include mobile {
        font-size: 32px;
      }
    }

    .startup_description {
      color: $white;
      text-align: center;
      @include tablet {
        text-align: center;
        max-width: 544px;
      }
      @include mobile {
        font-size: 16px;
      }
    }

    .startup_here_button {
      margin-top: 16px;
      @include mobile {
        font-size: 16px;
        width: 100%;
      }
    }
  }
}
