@import "~@project/libs/assets/styles/variables";
@import "~@project/libs/assets/styles/mixins";

.steps_container {

  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: $spacing-2xl 0!important;

  @include mobile {
      padding: $spacing-sm 0!important;
  }

  @include container();
  width: 100%;
  align-self: center;

  .steps_title {
    color: $black1;
    display: none;
    margin-top: $spacing-sm;
    text-align: center;

    @include mobile {
      font-size: 24px;
      margin-top: $spacing-sm;
    }
  }

  .steps_cards_list {
    margin-top: 50px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 24px;
    justify-content: center;
    @include mobile {
      margin-top: 38px;
      gap: 0;
    }
  }
}
