@import "~@project/libs/assets/styles/variables";
@import "~@project/libs/assets/styles/mixins";

.listings_container {
  min-height: 100vh;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-xl;
  @include container();

  @include mobile {
    padding-top: $spacing-xl ;
    padding-bottom: $spacing-xl ;
    gap: $spacing-md;
  }

  .listings_title {
    color: $black1;
    padding-top: 30px;

    @include mobile {
      font-size: 24px;
    }
  }

  .listings_cards_list {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 29px;
    justify-content: center;
  }

  .listings_button {
    width: 220px;
    height: 60px;
    margin-bottom: 50px;

    @include mobile {
      width: 100%;
      height: 48px;
    }
  }
}