@import "~@project/libs/assets/styles/variables";
@import "~@project/libs/assets/styles/mixins";

.loading_screen {
      @include flexbox(center, center);
      @include container();
      min-height : calc(100vh - 126px);
      margin: auto;
      display: flex;
      flex-direction: column;
     svg {
      margin-top: -146px;
     }
     @include mobile {
      min-height : calc(100vh - 80px);
      svg {
        margin-top: -80px;
      }
    }
}
.listings_container {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding : $spacing-xl 0px;
  min-height: calc(100vh - 128px);
  
  @include mobile {
      min-height: unset;
      margin-bottom : $spacing-xl 
    }

  width: 100%;
  

  .listings_content {
    @include container();
    width: 100%;
    .listings_title {
      color: $black1;

      @include desktop1280 {
        text-align: center;
      }

      @include mobile {
        font-size: $font-lg;
      }
    }

    .listings_cards_list {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
      gap: 24px;

      @include mobile {
            font-size: $font-md;
        margin-top: 32px;
      }
    }
  }
}

.in_active {
  background: rgba(234, 238, 254, 0.6);
  border-radius: 16px;
}

.opacity {
  opacity: 0.6;
}
.sparta_opacity {
  opacity: 0.8;
}
