@import '~@project/libs/assets/styles/variables';
@import '~@project/libs/assets/styles/mixins';

.your_stats_container {
  background-color: $lightBlueOpacity;
  border-radius: 16px;
  padding: 20px 39px 48px 21px;
  display: flex;
  flex-direction: row;
  width: 513px;
  height: 432px;
  justify-content: space-between;

  @include desktop_lg {
    width: 688px;
  }

  @include mobile {
    padding: 16px 18px 24px 18px;
    height: 248px;
    justify-content: center;

    .stats_title {
      font-size: 24px;
    }
  }

  .stats_container {
    @include mobile {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'rank staked' 'tier kyc';
      column-gap: 41px;
      row-gap: 15px;
    }

    .staked {
      @include mobile {
        grid-area: staked;
        margin-top: 0;
      }

      margin-top: 60px;

      .staked_title {
        color: $blackOpacity;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        font-family: $montserrat;
        font-style: normal;
      }

      .staked_description {
        color: $black;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        font-family: $montserrat;
        font-style: normal;
        margin-bottom: 8px;
      }
    }

    .rank {
      @include mobile {
        grid-area: rank;
      }

      .rank_title {
        color: $blackOpacity;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        font-family: $montserrat;
        font-style: normal;
      }

      .staked_description {
        color: $black;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        font-family: $montserrat;
        font-style: normal;
        margin-bottom: 8px;
      }
    }

    .tier {
      @include mobile {
        grid-area: tier;
      }

      .tier_title {
        color: $blackOpacity;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        font-family: $montserrat;
        font-style: normal;
      }

      .staked_description {
        color: $black;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        font-family: $montserrat;
        font-style: normal;
        margin-bottom: 8px;
      }
    }

    .kyc {
      @include mobile {
        grid-area: kyc;
      }

      .kyc_title {
        color: $blackOpacity;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        font-family: $montserrat;
        font-style: normal;
      }

      .staked_description {
        color: $black;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        font-family: $montserrat;
        font-style: normal;
        margin-bottom: 8px;
      }
    }
  }

  .stats_logo_container {
    width: 179px;
    height: 179px;
    margin-top: 150px;

    @include desktop_lg {
      width: 233px;
      height: 233px;
      margin-top: 111px;
    }

    @include mobile {
      display: none;
    }

    .stats_logo {
      width: 100%;
      height: 100%;
    }
  }
}
