@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.admin {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 70vw;
  justify-content: center;
  align-items: center;
}

.gradient {
  background-image: linear-gradient(90deg, rgba(94, 114, 235, 1) 0%, rgba(255, 145, 144, 1) 56%, rgba(254, 193, 149, 1) 100%);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 64px;
  animation: move 1s infinite;
}

.textFont {
  font-family: 'Pacifico', cursive;
}
.font {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes move {
  50% {
    background-image: linear-gradient(262deg, rgba(94, 114, 235, 1) 0%, rgba(255, 145, 144, 1) 56%, rgba(254, 193, 149, 1) 100%);
  }
}

.mt-1 {
  margin-top: 10px;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-5 {
  margin-top: 50px;
}
.mt-6 {
  margin-top: 60px;
}
.mt-7 {
  margin-top: 70px;
}
.mt-8 {
  margin-top: 80px;
}
.mt-9 {
  margin-top: 90px;
}

.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-4 {
  margin-bottom: 40px;
}
.mb-5 {
  margin-bottom: 50px;
}
.mb-6 {
  margin-bottom: 60px;
}
.mb-7 {
  margin-bottom: 70px;
}
.mb-8 {
  margin-bottom: 80px;
}
.mb-9 {
  margin-bottom: 90px;
}

.mr-1 {
  margin-right: 10px;
}
.mr-2 {
  margin-right: 20px;
}
.mr-3 {
  margin-right: 30px;
}
.mr-4 {
  margin-right: 40px;
}
.mr-5 {
  margin-right: 50px;
}
.mr-6 {
  margin-right: 60px;
}
.mr-7 {
  margin-right: 70px;
}
.mr-8 {
  margin-right: 80px;
}
.mr-9 {
  margin-right: 90px;
}

.ml-1 {
  margin-left: 10px;
}
.ml-2 {
  margin-left: 20px;
}
.ml-3 {
  margin-left: 30px;
}
.ml-4 {
  margin-left: 40px;
}
.ml-5 {
  margin-left: 50px;
}
.ml-6 {
  margin-left: 60px;
}
.ml-7 {
  margin-left: 70px;
}
.ml-8 {
  margin-left: 80px;
}
.ml-9 {
  margin-left: 90px;
}

.pl-1 {
  padding-left: 10px;
}
.pl-2 {
  padding-left: 20px;
}
.pl-3 {
  padding-left: 30px;
}
.pl-4 {
  padding-left: 40px;
}
.pl-5 {
  padding-left: 50px;
}
.pl-6 {
  padding-left: 60px;
}
.pl-7 {
  padding-left: 70px;
}
.pl-8 {
  padding-left: 80px;
}
.pl-9 {
  padding-left: 90px;
}

.pr-1 {
  padding-right: 10px;
}
.pr-2 {
  padding-right: 20px;
}
.pr-3 {
  padding-right: 30px;
}
.pr-4 {
  padding-right: 40px;
}
.pr-5 {
  padding-right: 50px;
}
.pr-6 {
  padding-right: 60px;
}
.pr-7 {
  padding-right: 70px;
}
.pr-8 {
  padding-right: 80px;
}
.pr-9 {
  padding-right: 90px;
}

.pt-1 {
  padding-top: 10px;
}
.pt-2 {
  padding-top: 20px;
}
.pt-3 {
  padding-top: 30px;
}
.pt-4 {
  padding-top: 40px;
}
.pt-5 {
  padding-top: 50px;
}
.pt-6 {
  padding-top: 60px;
}
.pt-7 {
  padding-top: 70px;
}
.pt-8 {
  padding-top: 80px;
}
.pt-9 {
  padding-top: 90px;
}

.pb-1 {
  padding-bottom: 10px;
}
.pb-2 {
  padding-bottom: 20px;
}
.pb-3 {
  padding-bottom: 30px;
}
.pb-4 {
  padding-bottom: 40px;
}
.pb-5 {
  padding-bottom: 50px;
}
.pb-6 {
  padding-bottom: 60px;
}
.pb-7 {
  padding-bottom: 70px;
}
.pb-8 {
  padding-bottom: 80px;
}
.pb-9 {
  padding-bottom: 90px;
}

.w-100 {
  width: 100%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 28px;
}

.subtitle {
  font-size: 25px;
  background-color: darkgrey;
  border: 1px solid gray;
  text-align: center;
  padding: 10px;
  width: 100%;
}

.label-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.content {
  font-size: 18px;
}

.card {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subcard {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.image {
  width: 100%;
  height: 320px;
  background: lightgray;
  border: 1px solid dimgray;
  position: relative;
}

.image-select {
  z-index: 999;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.preview {
  width: 100%;
  height: 100%;
}

.image-small {
  width: 150px;
  height: 150px;
  background: lightgray;
  border: 1px solid dimgray;
  position: relative;
}

.image-middle {
  height: 250px;
  background: lightgray;
  border: 1px solid dimgray;
  position: relative;
}

.position-center {
  position: absolute;
  left: 40%;
  top: 40%;
  z-index: 999;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding-right: 15px;
}

section {
  width: 100%;
  padding-right: 80px;
  padding-left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column  ;
  margin-bottom: 20px;
}

