@import '~@project/libs/assets/styles/variables';
@import '~@project/libs/assets/styles/mixins';

.header_wrapper {
  @include flexbox(center, center);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 0px;

  @include mobile {
    padding: 8px 0px;
  }
}

.header {
  @include flexbox(center, space-between);
  @include container();
  width: 100%;
}

.header_logo {
  @include mobile {
    width: 64px;
  }
}

.container {
  @include flexbox(center, space-between);
  width: 100%;
  height: 80px;
  @include container();
  position: relative;

  a {
    @include mobile {
      width: 48px;
      height: 48px;
    }
  }



  .header_logo_short {
    display: none;

    @include tablet {
      display: block;
    }
  }

  .connect_button {
    height: 160px;
    width: 151px;

    @include mobile {
      height: 48px;
      width: 120px;
      font-size: 14px;
    }
  }

  .dis_connect_button {
    height: 60px;
    width: 151px;
    border: 0;
    display: flex;
    gap: 5px;
    background-color: transparent;
    color: $black;
    font-size: 16px;

    @include mobile {
      height: 48px;
      width: 140px;
      font-size: 14px;
    }
  }

  .button_logo {
    width: 16px;
    height: 16px;
  }
}

.disconnect_button {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.button_image {
  width: 100%;
  height: 100%;
}

.disconnect_button_container {
  display: flex;
  gap: 8px;
  align-items: center;

  @include mobile {
    gap: 0;
  }
}

.button_avatar_logo {
  width: 70px;
  height: 70px;

  @include mobile {
    height: 50px;
    width: 50px;
  }
}