@import '~@project/libs/assets/styles/variables';
@import '~@project/libs/assets/styles/mixins';



.nft_tier_card_container {
  background: $white;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: rgb(249, 253, 253);
  box-shadow: 10px 10px 5px rgb(222, 215, 236);

  // box-shadow: $grayShadowOpacity;
  @include transition();

  @include desktop1280 {
    margin: 0 auto;
  }

  /*  &:hover {
    box-shadow: $BlueShadowOpacity;
  } */

  

  .nft_tier_card_shadow_container {
    border: 1px solid black;
    width: 90px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    position: relative;
    
    .nft_tier_card_bottom {
      position: absolute;
      width: 42px;
      height: 42px;
      bottom: 3px;
      right: 2px;
    }

    .nft_tier_card_up {
      position: absolute;
      width: 42px;
      height: 42px;
      top: 3px;
      left: 4px;
    }

    .nft_tier_card_image_container {
      width: 120px;
      height: 120px;

      .nft_tier_card_image {
        width: 100%;
        height: 100%;
      }
    }
  }

  .card_title {
    font-weight: 500;
    line-height: 24px;
    color: $black;
    margin-top: 14px;
    align-self: flex-start;
    margin-left: 8px;
  }
  .card_description {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $grey;
    margin-top: 6px;
    align-self: flex-start;
    margin-left: 8px;
    b {
      color: $black;
    }
  }
}

.nft_tier_card_container:hover {
  transform: translateY(-4px);
}

*, *::before, *::after {
	box-sizing: border-box;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.nft_hover {
  box-shadow: 5px 5px 5px rgb(54, 7, 143);

  position: relative;
	z-index: 0;
	border-radius: 15px;
	overflow: hidden;
	padding: 1.3rem;
	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #6533c2;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#032158, #c5d3ee), linear-gradient(#032158, #c5d3ee);
		animation: rotate 4s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 15px;
	}
}
